@use 'sass:color';

@use '@material/theme/color-palette';

// Svelte Colors!
@use '@material/theme/index' as theme with (
  $primary: #ff3e00,
  $on-primary: #222,
  $secondary: #676778,
  $surface: #fcfcfc,
  $on-surface: #222,
  $background: #fff,
  $error: color-palette.$red-900,
);

html,
body {
  background-color: theme.$surface;
  color: theme.$on-surface;
  padding: 0;
}

a {
  color: #40b3ff;
}
a:visited {
  color: color.scale(#40b3ff, $lightness: -35%);
}


.topappbar {
  background: #fff;
}
.mdc-top-app-bar {
  background: transparent
}

// Import the mixins.
