# Binary suffixes
*.exe
*.exe~
*.dll
*.so
*.dylib

# Downloaded monero binaries
/monero.tar.bz2
/monero-*

# Generated binaries
/bin/

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
/coverage.out
/coverage.html

# Logs from make targets
/test.log
/test-integration.log

# Apparently, swapd will generate libp2p keys with the names below into the current working
# directory (happens during unit tests too).
node.key
xmrmaker.key
xmrtaker.key
/cmd/daemon/*.key
/tests/*.log

# Ethereum contract compilation artifacts
/ethereum/abi/
/ethereum/bin/

# IDE settings
/.idea/
