on: 
  pull_request:
    branches:
      - master
  push:
    branches:
      - master

name: checks

jobs:
  linter-check:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3

      - name: Install npm formatting/linting tools
        run: npm install --global --save-dev prettier prettier-plugin-solidity solhint

      - name: Run formatters
        run: make format && diff -u <(echo -n) <(git status --short --untracked-files=no)

      - name: Run linters
        run: make lint

  vet-check:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/setup-go@v3
        with:
          go-version: '1.19.x'
      - uses: actions/checkout@v3

      - name: Run go vet
        run: |
          make init
          go vet ./...
